/* Importing fonts */
/* --------------- */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.outfit-400 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-700 {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* CSS Reset */
/* --------- */

* {
  margin: 0;
}

/* Variables */
/* --------- */

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
  --slate-500-20: hsl(216, 15%, 48%, 20%);
}

/* Page styling */
/* ------------ */

body {
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-300);
  line-height: 1.5rem;
}

.container {
  max-width: 18rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 1rem 1rem var(--slate-500-20);
  margin: 1rem;
}

.img__image-element {
  width: 100%;
  border-radius: 0.5rem;
}

.container__text {
  padding: 1rem 1rem;
}

.text__heading {
  color: var(--slate-900);
  margin-bottom: 1rem;
}

.text__paragraph {
  color: var(--slate-500);
}

/* Attribution */
/* ----------- */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
